// Mixins Here

.custom-layout(@justify, @align, @direction, @wrap) {
  display: flex;
  justify-content: @justify;
  align-items: @align;
  flex-direction: @direction;
  flex-wrap: @wrap;
}

.custom-btn(@font-size, @bg-color, @txt-color, @width, @corners, @padding, @margin) {
  text-align: center;
  font-size: @font-size;
  background-color: @bg-color;
  color: @txt-color;
  width: @width;
  border-radius: @corners;
  padding: @padding;
  margin: @margin;
}